/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Desktop: 1440px

## Colors

*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Hanken Grotesk';
}
p{
    font-weight: 500;
    font-size: 18px;
}
body{
    height: 100svh; 
    box-sizing: border-box;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#card {
    box-shadow: 1px 5px 10px  hsla(0, 0%, 0%, 0.067);
    width:40rem;
    display:grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 25px;
    place-self: center;
}
#resultSection{
    color: hsla(0, 0%, 100%, 0.7);
    grid-column: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    place-content: center;
    justify-content: space-around;
    border-radius: 25px;
    gap:1.5rem;
    background-image: linear-gradient(hsl(252, 100%, 67%), hsla(241, 81%, 54%, 0.734));
    padding: 2rem ;
    /* height: auto; */
}
#circle{
    grid-column: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20vh;
    width: 20vh;
    border-radius: 50%;
    background-image: linear-gradient(hsla(241, 81%, 54%, 0.348), hsla(252, 100%, 67%, 0.264));
    text-align: center;
}
#blockText{
    text-align: center;
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

#average{
    font-weight: 800;
    color: hsl(0, 0%, 100%);
    font-size: 3rem;
}
#great{
    font-weight: 700;
    font-size: 1.25rem;
    color: hsl(0, 0%, 100%)
}
#otherBlock{
    font-size: .75rem;
}

#resultTitle{
    font-weight: 500;
}
#summarySection{
    grid-column: 2;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
    /* place-content: center; */
    justify-content: space-around;
    padding: 2rem;
    gap:1.5rem

}
#summaryTitle{
    width: 100%;
    font-weight: 800;
    text-align: left;
}

#summaryTable{
display: flex;
height: 100%;
width: 100%;;
flex-direction: column;
justify-content: space-between;
gap:1rem
}

#continue{
    padding: 1rem 0;
    border-radius: 2rem;
    color: #fbffe9;
    width: 100%;
    background-color: hsl(224, 30%, 27%);
    font-weight: 700;
    font-size: rem;
}
#continue:hover{
    cursor:pointer;
    background-image: linear-gradient(hsl(252, 100%, 67%), hsla(241, 81%, 54%, 0.734));
}
.leftHandTray{
    gap: 1rem;
    display: flex;
}
.leftHandTray p{
    font-weight: 700;
}
.rightHandTray{
    display: flex;
    gap:.5rem;
}
.rightHandTray h3 {
    font-weight: 800;
    color: #29303e!important;
    text-align: center;

}
.rightHandTray div {
    margin: auto;
    font-weight: 500;
    color: #939092!important;
}
#Reaction {
    padding:.5rem;
    display: flex;
    color:hsla(0, 100%, 67%);
    background-color:hsla(0, 100%, 67%, .1)
}

#Memory{
    display: flex;
    padding:.5rem;
    background-color:hsl(39, 100%, 56%, .1);
    color:hsl(39, 100%, 56%)
    
}
#Verbal{
    padding:.5rem;
    display: flex;
    background-color: hsl(166, 100%, 37%, .1);
    color: hsl(166, 100%, 37%);
}
#Visual{
    display: flex;
    padding:.5rem;
    background-color: hsl(234, 85%, 45%, .1);
    color: hsl(234, 85%, 45%)


}
.row{
    display: flex;
    justify-content: space-between;
    border-radius: .25rem;
}

@media(max-width:600px){
    #card{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        border:none
    }
#resultSection{
    border-radius: 0 0 1rem 1rem;
}

}