*{
    font-family: 'Outfit';
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    background-color: hsl(212, 45%, 89%);
    width:100vw;
    height:100vh;
    overflow: hidden;

}
#card{
    background-color: hsl(0, 0%, 100%);
    width:20%;
    border-radius: 20px;
    margin:auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:.75rem
}
h2{
    padding: 0 0 1rem 0;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
}
p{
    font-size: 15px;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
}
#qrCode{
    border-radius: 10px;
    width: 100%;
}
#textBlock{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-items: space-between;
    margin: 1rem 0;
}
@media (max-width:675px){
    #card{
        width:75vw;
    }
}